body {
    color: white;
    background-color: #1C1C1C;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid;
}

.marcus-img {
    border-color: red;
}

.millena-img {
    border-color: green;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza todo o conteúdo no header */
    padding: 16px;
}

.image-container {
    display: flex;
    gap: 16px;
}

.text-container {
    margin-top: 16px;
    text-align: center; /* Centraliza o texto */
}

main {
    padding: 16px;
}
